# Historical Analysis of Summer Olympics Medals

#### Dataset - https://www.kaggle.com/datasets/divyansh22/summer-olympics-medals

In [1]:
# importing essential libraries and tools
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [8]:
#read data from csv file
olympic_data = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv', encoding='latin-1')
olympic_data.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

************
#### First task is to clean the dataset by handling missing values, incorrect entries and also ensure data is correctly formatted.
************

In [9]:
olympic_data.shape

(15433, 11)

In [10]:
olympic_data.isnull().sum()

City            117
Year            117
Sport           117
Discipline      117
Event           117
Athlete         117
Gender          117
Country_Code    117
Country         117
Event_gender    117
Medal           117
dtype: int64

In [11]:
clean_data1 = olympic_data.dropna()
clean_data1.shape

(15316, 11)

In [21]:
clean_data1.describe()

               Year
count  15316.000000
mean    1993.620789
std       10.159851
min     1976.000000
25%     1984.000000
50%     1996.000000
75%     2004.000000
max     2008.000000

In [12]:
clean_data1.dtypes

City             object
Year            float64
Sport            object
Discipline       object
Event            object
Athlete          object
Gender           object
Country_Code     object
Country          object
Event_gender     object
Medal            object
dtype: object

In [24]:
clean_data1.City.unique()

array(['Montreal', 'Moscow', 'Los Angeles', 'Seoul', 'Barcelona',
       'Atlanta', 'Sydney', 'Athens', 'Beijing'], dtype=object)

In [38]:
clean_data1.Medal.unique()

['Silver', 'Bronze', 'Gold']
Categories (3, object): ['Gold' < 'Silver' < 'Bronze']

In [14]:
clean_data1.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15428    False
15429    False
15430    False
15431    False
15432    False
Length: 15316, dtype: bool

In [15]:
clean_data1['Year'] = pd.to_datetime(clean_data1['Year'], format='%Y')
clean_data1.dtypes

C:\Users\hp\AppData\Local\Temp\ipykernel_10464\3536865081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data1['Year'] = pd.to_datetime(clean_data1['Year'], format='%Y')

City                    object
Year            datetime64[ns]
Sport                   object
Discipline              object
Event                   object
Athlete                 object
Gender                  object
Country_Code            object
Country                 object
Event_gender            object
Medal                   object
dtype: object

In [7]:
clean_data1['Medal'] = pd.Categorical(clean_data1['Medal'], categories=["Gold", "Silver", "Bronze"], ordered=True)
clean_data1.dtypes

C:\Users\hp\AppData\Local\Temp\ipykernel_10464\741754381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data1['Medal'] = pd.Categorical(clean_data1['Medal'], categories=["Gold", "Silver", "Bronze"], ordered=True)

City                    object
Year            datetime64[ns]
Sport                   object
Discipline              object
Event                   object
Athlete                 object
Gender                  object
Country_Code            object
Country                 object
Event_gender            object
Medal                 category
dtype: object