# Historical Analysis of Summer Olympics Medals

#### Dataset - https://www.kaggle.com/datasets/divyansh22/summer-olympics-medals

In [24]:
# importing essential libraries and tools.
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [25]:
#read data from csv file.
olympic_data = pd.read_csv('Summer-Olympic-medals-1976-to-2008.csv', encoding='latin-1')
olympic_data.head()

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976.0,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976.0,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976.0,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976.0,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976.0,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze

In [27]:
# total number of rows and columns in dataset.
olympic_data.shape

(15433, 11)

In [28]:
# columns names in our dataset.
olympic_data.columns

Index(['City', 'Year', 'Sport', 'Discipline', 'Event', 'Athlete', 'Gender',
       'Country_Code', 'Country', 'Event_gender', 'Medal'],
      dtype='object')

In [29]:
# some basic information about the dataset like datatypes, if the column is null and more.
olympic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15433 entries, 0 to 15432
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          15316 non-null  object
 1   Year          15316 non-null  float64
 2   Sport         15316 non-null  object
 3   Discipline    15316 non-null  object
 4   Event         15316 non-null  object
 5   Athlete       15316 non-null  object
 6   Gender        15316 non-null  object
 7   Country_Code  15316 non-null  object
 8   Country       15316 non-null  object
 9   Event_gender  15316 non-null  object
 10  Medal         15316 non-null  object
dtypes: float64(1), object(10)
memory usage: 1.3+ MB

************
##### First task is to clean the dataset by handling missing values, incorrect entries and also ensure data is correctly formatted.
************

In [30]:
# isnull() function is used to see the null values in our dataset and then count() is counting the null values 
# from each column.
olympic_data.isnull().sum()

City            117
Year            117
Sport           117
Discipline      117
Event           117
Athlete         117
Gender          117
Country_Code    117
Country         117
Event_gender    117
Medal           117
dtype: int64

In [31]:
# drop all rows where null values are there using dropna() function.
clean_data1 = olympic_data.dropna()
clean_data1.shape

(15316, 11)

In [32]:
# describe() function shows every numerical column statistical characteristics.
clean_data1.describe()

               Year
count  15316.000000
mean    1993.620789
std       10.159851
min     1976.000000
25%     1984.000000
50%     1996.000000
75%     2004.000000
max     2008.000000

In [33]:
# dtypes shows the data types of each column.
clean_data1.dtypes

City             object
Year            float64
Sport            object
Discipline       object
Event            object
Athlete          object
Gender           object
Country_Code     object
Country          object
Event_gender     object
Medal            object
dtype: object

In [34]:
# unique() function shows the unique values from a specified column.
clean_data1.City.unique()

array(['Montreal', 'Moscow', 'Los Angeles', 'Seoul', 'Barcelona',
       'Atlanta', 'Sydney', 'Athens', 'Beijing'], dtype=object)

In [35]:
clean_data1.Medal.unique()

array(['Silver', 'Bronze', 'Gold'], dtype=object)

In [36]:
# duplicated() function returns boolean series denoting duplicate rows.
clean_data1.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
15428    False
15429    False
15430    False
15431    False
15432    False
Length: 15316, dtype: bool

In [156]:
# converting year column from an object format to datetime format which is useful for timebased operations and analysis.
clean_data1['Year'] = pd.to_datetime(clean_data1['Year'], format='%Y')
clean_data1.dtypes

C:\Users\hp\AppData\Local\Temp\ipykernel_10464\3765053076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data1['Year'] = pd.to_datetime(clean_data1['Year'], format='%Y')

City                    object
Year            datetime64[ns]
Sport                   object
Discipline              object
Event                   object
Athlete                 object
Gender                  object
Country_Code            object
Country                 object
Event_gender            object
Medal                 category
dtype: object

In [40]:
# converted Medal column to category type 
clean_data1['Medal'] = pd.Categorical(clean_data1['Medal'], categories=["Gold", "Silver", "Bronze"], ordered=True)
clean_data1.dtypes

C:\Users\hp\AppData\Local\Temp\ipykernel_10464\741754381.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data1['Medal'] = pd.Categorical(clean_data1['Medal'], categories=["Gold", "Silver", "Bronze"], ordered=True)

City                    object
Year            datetime64[ns]
Sport                   object
Discipline              object
Event                   object
Athlete                 object
Gender                  object
Country_Code            object
Country                 object
Event_gender            object
Medal                 category
dtype: object

*****
##### Next task is perform exploratory data analysis to understand the distribution of medals, number of participating nations, and other key metrics and visualize overall trends in data.
*****

In [16]:
clean_data1

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976-01-01,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [48]:
# total number of distribution of medals.
totalno_of_medals = clean_data1['Medal'].value_counts()
totalno_of_medals

Bronze    5258
Gold      5042
Silver    5016
Name: Medal, dtype: int64

In [103]:
# number of medals each country have.
medals_by_country = clean_data1.groupby('Country').Medal.count()
medals_by_country
# medals_by_country.idxmax()

Country
Afghanistan          1
Algeria             14
Argentina          153
Armenia              9
Australia          798
                  ...
Virgin Islands*      1
West Germany       345
Yugoslavia         278
Zambia               2
Zimbabwe            23
Name: Medal, Length: 127, dtype: int64

In [49]:
# distribution of medals among gender.
clean_data1.groupby('Gender').Medal.count()

Gender
Men      9388
Women    5928
Name: Medal, dtype: int64

In [61]:
# Numver of unique countries participated in Olympics.
clean_data1['Country'].nunique()

127

In [62]:
# Name of countries participated in Olympics.
clean_data1['Country'].unique()

array(['East Germany', 'Soviet Union', 'United States', 'Italy', 'Sweden',
       'Australia', 'Canada', 'West Germany', 'Netherlands',
       'United Kingdom', 'Hungary', 'Japan', 'Cuba', 'Poland', 'Bulgaria',
       'New Zealand', 'Belgium', 'Mexico', 'Jamaica', 'Finland',
       'Romania', 'Portugal', 'France', 'Brazil', 'Czechoslovakia',
       'Trinidad and Tobago', 'Yugoslavia', 'Venezuela', 'Puerto Rico*',
       'Korea, North', 'Bermuda*', 'Thailand', 'Spain', 'Denmark',
       'Switzerland', 'Pakistan', 'Korea, South', 'Norway', 'Austria',
       'Iran', 'Mongolia', 'Ethiopia', 'Tanzania', 'Guyana', 'Uganda',
       'Ireland', 'India', 'Zimbabwe', 'Greece', 'Lebanon', 'China',
       'Nigeria', 'Kenya', 'Morocco', "Cote d'Ivoire", 'Algeria',
       'Turkey', 'Cameroon', 'Zambia', 'Dominican Republic', 'Iceland',
       'Egypt', 'Colombia', 'Peru', 'Taiwan', 'Syria', 'Costa Rica',
       'Suriname', 'Indonesia', 'Djibouti', 'Senegal', 'Philippines',
       'Netherlands Antilles*', 'Virgin Islands*', 'Chile', 'Argentina',
       'Unified team', 'Germany', 'Bahamas', 'South Africa', 'Namibia',
       'Qatar', 'Lithuania', 'Malaysia', 'Croatia', 'Latvia', 'Estonia',
       'Ghana', 'Israel', 'Slovenia',
       'Independent Olympic Participants (1992)', 'Russia', 'Ukraine',
       'Belarus', 'Burundi', 'Ecuador', 'Mozambique', 'Czech Republic',
       'Tunisia', 'Kazakhstan', 'Tonga', 'Uzbekistan', 'Slovakia',
       'Moldova', 'Georgia', 'Hong Kong*', 'Armenia', 'Azerbaijan',
       'Saudi Arabia', 'Barbados', 'Sri Lanka', 'Uruguay', 'Kyrgyzstan',
       'Kuwait', 'Vietnam', 'Macedonia', 'Serbia', 'Eritrea', 'Paraguay',
       'United Arab Emirates', 'Panama', 'Sudan', 'Mauritius', 'Togo',
       'Tajikistan', 'Singapore', 'Afghanistan'], dtype=object)

In [65]:
# number of unique events.
clean_data1['Event'].nunique()

293

In [68]:
# total number of athletes in this Olympics.
clean_data1['Athlete'].nunique()

11337

In [74]:
# number of unique events held in each sport and discipline.
events_by_sportanddiscipline = clean_data1.groupby(['Sport', 'Discipline']).Event.nunique()
events_by_sportanddiscipline

Sport              Discipline
Aquatics           Diving              4
                   Swimming           18
                   Synchronized S.     3
                   Water polo          1
Archery            Archery             4
Athletics          Athletics          30
Badminton          Badminton           2
Baseball           Baseball            1
Basketball         Basketball          1
Boxing             Boxing             17
Canoe / Kayak      Canoe / Kayak F    10
                   Canoe / Kayak S     3
Cycling            BMX                 2
                   Cycling Road        3
                   Cycling Track      13
                   Mountain Bike       1
Equestrian         Dressage            2
                   Eventing            2
                   Jumping             2
Fencing            Fencing             6
Football           Football            1
Gymnastics         Artistic G.        10
                   Rhythmic G.         2
                   Trampoline          1
Handball           Handball            1
Hockey             Hockey              1
Judo               Judo               32
Modern Pentathlon  Modern Pentath.     2
Rowing             Rowing             13
Sailing            Sailing            20
Shooting           Shooting           18
Softball           Softball            1
Table Tennis       Table Tennis        3
Taekwondo          Taekwondo           8
Tennis             Tennis              2
Triathlon          Triathlon           1
Volleyball         Beach volley.       1
                   Volleyball          1
Weightlifting      Weightlifting      35
Wrestling          Wrestling Free.    30
                   Wrestling Gre-R    26
Name: Event, dtype: int64

In [84]:
# count the total number of medals won each year.
clean_data1.groupby(clean_data1['Year'].dt.year).Medal.count()

Year
1976    1305
1980    1387
1984    1459
1988    1546
1992    1705
1996    1859
2000    2015
2004    1998
2008    2042
Name: Medal, dtype: int64

*****
##### Next task is to analyze countries performance over the years.
*****

In [94]:
# performace of countries over the years in terms of medals won.
medals_of_country = clean_data1.groupby(['Country', clean_data1['Year'].dt.year]).Medal.count()
medals_of_country

Country      Year
Afghanistan  2008     1
Algeria      1984     2
             1992     2
             1996     3
             2000     5
                     ..
Zambia       1984     1
             1996     1
Zimbabwe     1980    16
             2004     3
             2008     4
Name: Medal, Length: 559, dtype: int64

In [102]:
# top performing countries bases on total medal count.
clean_data1.groupby('Country').Medal.count().sort_values(ascending=False)

Country
United States    1992
Soviet Union     1021
Australia         798
Germany           691
China             679
                 ...
Panama              1
Senegal             1
Sri Lanka           1
Sudan               1
Macedonia           1
Name: Medal, Length: 127, dtype: int64

*****
##### Next task is analyze athelete performance including their achievements, identifying standout performers and many more. 
*****

In [104]:
clean_data1

,City,Year,Sport,Discipline,Event,Athlete,Gender,Country_Code,Country,Event_gender,Medal
0,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KÖHLER, Christa",Women,GDR,East Germany,W,Silver
1,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"KOSENKOV, Aleksandr",Men,URS,Soviet Union,M,Bronze
2,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"BOGGS, Philip George",Men,USA,United States,M,Gold
3,Montreal,1976-01-01,Aquatics,Diving,3m springboard,"CAGNOTTO, Giorgio Franco",Men,ITA,Italy,M,Silver
4,Montreal,1976-01-01,Aquatics,Diving,10m platform,"WILSON, Deborah Keplar",Women,USA,United States,W,Bronze
...,...,...,...,...,...,...,...,...,...,...,...
15428,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,"GUENOT, Christophe",Men,FRA,France,M,Bronze
15429,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,66 - 74kg,"KVIRKELIA, Manuchar",Men,GEO,Georgia,M,Gold
15430,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,55 - 60kg,"RAHIMOV, Vitaliy",Men,AZE,Azerbaijan,M,Silver
15431,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,60 - 66kg,"GUENOT, Steeve",Men,FRA,France,M,Gold
15432,Beijing,2008-01-01,Wrestling,Wrestling Gre-R,96 - 120kg,"LOPEZ, Mijain",Men,CUB,Cuba,M,Gold

In [113]:
# top athletes and their medals.
athelete_medals = clean_data1.groupby('Athlete')['Medal'].count().sort_values(ascending=False)
athelete_medals.head()

Athlete
PHELPS, Michael    16
FISCHER, Birgit    12
NEMOV, Alexei      12
TORRES, Dara       12
THOMPSON, Jenny    12
Name: Medal, dtype: int64

In [115]:
# Top 10 atheltes with most medals and their medals type i.e.Gold, Silver and Bronze.
top = athelete_medals.head(10).index
clean_data1[clean_data1['Athlete'].isin(top)].groupby(['Athlete', 'Medal']).size()

Athlete              Medal
ANDRIANOV, Nikolay   Gold       6
                     Silver     4
                     Bronze     2
BIONDI, Matthew      Gold       8
                     Silver     2
                     Bronze     1
COUGHLIN, Natalie    Gold       3
                     Silver     4
                     Bronze     4
DITYATIN, Aleksandr  Gold       3
                     Silver     6
                     Bronze     1
FISCHER, Birgit      Gold       8
                     Silver     4
                     Bronze     0
NEMOV, Alexei        Gold       4
                     Silver     2
                     Bronze     6
PHELPS, Michael      Gold      14
                     Silver     0
                     Bronze     2
SCHERBO, Vitaly      Gold       6
                     Silver     0
                     Bronze     4
THOMPSON, Jenny      Gold       8
                     Silver     3
                     Bronze     1
TORRES, Dara         Gold       4
                     Silver     4
                     Bronze     4
dtype: int64

In [116]:
# total number of medals won by each gender.
clean_data1.groupby('Gender')['Medal'].count()

Gender
Men      9388
Women    5928
Name: Medal, dtype: int64

In [117]:
# medal distribution among gender.
clean_data1.groupby(['Gender', 'Medal']).size()

Gender  Medal
Men     Gold      3080
        Silver    3051
        Bronze    3257
Women   Gold      1962
        Silver    1965
        Bronze    2001
dtype: int64